{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <!-- the post_detail means that django will be expecting a url
            in blog/urls.py with name=post_detail pk is short for primary
            key. since we didnt specify a primary key in our Post model,
            django creates one for us and adds it as a field named pk to
            each of our posts. we access the pk by writing post.pk-->
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock %}